---
import Layout from '@layouts/layout.astro';
import Heading from '@elements/heading.astro';
import ExperienceCard, {
  ExperienceCardProps,
} from '@components/experience-card.astro';
import experienceData from '@data/experience-data';

import '@/base.css';
---

<Layout>
  <div class="flex flex-col gap-20">
    <div class="flex flex-col gap-5">
      <Heading>Experience</Heading>
    </div>
    <div class="flex flex-col gap-10">
      {
        experienceData.map((experience: ExperienceCardProps, idx) => (
          <ExperienceCard
            key={idx}
            experienceStart={experience.experienceStart}
            experienceEnd={experience.experienceEnd}
            companyName={experience.companyName}
            role={experience.role}
            description={experience.description}
            skills={experience.skills}
          />
        ))
      }
    </div>
  </div>
</Layout>
