---
// import {
//   VerticalTimeline,
//   VerticalTimelineElement,
// } from 'react-vertical-timeline-component';
// import 'react-vertical-timeline-component/style.min.css';
// import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
// import { faSchool } from '@fortawesome/free-solid-svg-icons';

import Heading from '@elements/Heading.astro';
// import Btn from '@elements/Btn.astro';

import Layout from '@layouts/Layout.astro';

// import timelineElements from '@data/timelineElements';

import '@/base.css';
---

<Layout>
  <div class="flex flex-col gap-20">
    <div class="flex flex-col gap-5">
      <Heading>My Journey💡</Heading>
    </div>
    <div>
      <p>The journey I have been through for the past few years</p>
    </div>
    <div class="journey-container">
      Coming Soon...
      <!-- <VerticalTimeline lineColor="#f3f4f6">
        {
          timelineElements.map((element) => {
            const schoolIconStyle = {
              fontSize: '5rem',
              backgroundColor: 'white',
            };
            const showButton =
              element.buttonText !== undefined &&
              element.buttonText !== null &&
              element.buttonText !== '';
            return (
              <VerticalTimelineElement
                date={element.date}
                dateClassName="date"
                className="vertical-timeline-element"
                iconStyle={schoolIconStyle}
                icon={<FontAwesomeIcon icon={faSchool} />}
              >
                <div class="vertical-timeline-element-container">
                  <div>
                    <h2 class="vertical-timeline-element-title">
                      {element.title}
                    </h2>
                    <h3 class="vertical-timeline-element-subtitle">
                      {element.location}
                    </h3>
                    <p id="description">{element.description}</p>
                  </div>
                  {showButton && <Btn btnText={element.buttonText} />}
                </div>
              </VerticalTimelineElement>
            );
          })
        }
      </VerticalTimeline>
    </div>
  -->
    </div>
  </div>
</Layout>
