---
import Heading from '@elements/Heading.astro';
import ProjectCard from '@components/ProjectCard.astro';

import Layout from '@layouts/Layout.astro';

import projectsData from '@data/projectsData';

import '@/base.css';
---

<Layout>
  <div class="flex flex-col gap-20">
    <div class="flex flex-col gap-5">
      <Heading>Projects💡</Heading>
      <p>Some things I've been working on in the past few months:</p>
    </div>
    <div class="flex flex-col gap-20">
      {
        projectsData.map((project, idx) => (
          <ProjectCard
            projectName={project.projectName}
            projectDescription={project.projectDescription}
            projectImageURL={project.projectImageURL}
            projectRepoURL={project.projectRepoURL}
            projectLiveURL={project.projectLiveURL}
            textOrder={idx % 2 === 1 ? 2 : 1}
            imageOrder={idx % 2 === 0 ? 2 : 1}
          />
        ))
      }
    </div>
  </div>
</Layout>
